<div class="cover">
  <div class="banner" *ngIf="cover!=undefined"
       [ngStyle]="{'background-image': 'url(' + IMAGE_URL + currItem.offering.design.banner_big + ')'}">
    <div class="info">
      <span class="triangle left"></span>
      <div class="info-detail">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" *ngIf="cover!=undefined">
        <div ngxSlickItem *ngFor="let item of cover" class="cover-item" [ngClass]="{'open':  false}">
          <div class="cover-container" *ngIf="item.offering" (click)="currItem = item">
            <div class="home-img-cover"
                 [ngStyle]="{'background-image': 'url(' + IMAGE_URL + item.offering.design.banner_big + ')'}"></div>
            <div class="info">
              <span class="triangle left"></span>
              <div class="info-detail">
                <p class="name">{{item.offering.course.title}}</p>
                <p class="date">{{item.offering.date_range}}</p>
                <p class="location">{{item.offering.city}} - {{item.offering.country_base.name}}</p>
              </div>
              <div class="info-type"><h4>Curso</h4></div>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>
