@import "../../../../sass/variables.scss";

.cover {
  padding-bottom: 30px;
  .banner {
    transition: all $transition_data;
  }
  .carousel {
    width: 100%;
    margin-top: -36px;
    .cover-item {
      display: inline-block;
      margin: 0px 15px 20px;
      position: relative;
      .cover-container {
        margin: 0px 15px;
        height: 140px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        .home-img-cover {
          width: auto;
          background-size: auto 100%;
          background-repeat: no-repeat;
          background-position: center;
          height: 100%;
        }
        .info {
          text-align: center;
          background-color: $color-white;
          color: $color-secondary;
          position: absolute;
          width: 26%;
          height: 100%;
          top: 0px;
          right: 0px;
          transition: width $transition_data;
          .info-detail {
            display: none;
            z-index: 100;
            transition: all $transition_data;
            transition-delay: 1.2s;
            .name {
              font-family: $font-primary;
              //font-size: $font-size-septenary;
              line-height: $font-size-primary-lg;
              padding: 18px 4px 6px;
              margin: 0px;
            }
            .date {
              margin: 0px;
            }
            .location {
              font-size: $font-size-septenary;
              margin: 0px 0px 10px;
            }
          }
          .info-type {
            z-index: 20;
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            transition: all $transition_data;
            transition-delay: 1.2s;
            h4 {
              color: $color-secondary;
              margin-left: -15px;
            }
          }
          .triangle {
            position: absolute;
            &:before,
            &:after {
              content: '';
              display: block;
              position: absolute;
              width: 0;
              height: 0;
              border-style: solid;
            }
            &:before {
              content: '';
              top: -1px;
              border-color: transparent transparent transparent $color-quinary;
              border-width: 13px;
            }
            &:after {
              content: '';
              top: 0px;
              border-color: transparent transparent transparent $color-white;
              border-width: 12px;
            }

            &.left {
              left: -160px;
              top: -10px;
              &:before {
                left: -16px;
                border-width: 84px;
                border-color: transparent $color-primary transparent transparent;
              }
              &:after {
                top: 2px;
                border-width: 80px;
                border-color: transparent $color-white transparent transparent;
              }
            }
          }
        }
        .date-wrapper {
          text-align: center;
          overflow: hidden;
          .date-data {
            position: relative;
            width: 60%;
            display: inline-block;
            border-top: 1px solid $color-quinary;
            border-bottom: 1px solid $color-quinary;
            margin: 20px 0px;
          }
        }
        &:hover {
          .info {
            width: 56%;
            .triangle {
            }
            .info-detail {
              display: inline-block;
              transition: all $transition_data;
              transition-delay: 1.2s;
            }
            .info-type {
              display: none;
              transition: all $transition_data;
            }
          }
        }
      }
    }
  }
}
