<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 731 357" style="enable-background:new 0 0 731 357;" xml:space="preserve">
<g [ngClass]="type">
	<g class="slogan" *ngIf="slogan">
	  <g>
			<rect x="106.4" y="259" class="st0" width="518" height="3"/>
	  </g>
		<path class="st0" d="M109.7,294.6l-3,2.7v-11.1l3,1.4L109.7,294.6z M109.7,283.9l-3,1.6l0-10.6l3,2.8L109.7,283.9z M110.2,287.1
			l-2.8-1.3l2.8-1.5h7.3l2.8,1.5l-2.8,1.3H110.2z M110.2,277.2l-3-2.7h13.4l-3,2.7H110.2z M121.1,297.3l-3.1-2.7l0-7l3.1-1.4
			L121.1,297.3z M121,285.5l-3.1-1.6l0-6.3l3-2.8L121,285.5z"/>
		<path class="st0" d="M125.5,295.4l-1.5-1.4l0-7.9l3,1.4l0,6.5L125.5,295.4z M127,283.9l-3,1.6l0-11.1l3,2.6L127,283.9z
			 M127.5,297.3l-1.6-1.4l1.6-1.3h7.3l1.5,1.3l-1.5,1.4H127.5z M136.9,295.4l-1.5-1.4l0-6.5l3-1.4l0,7.9L136.9,295.4z M138.4,285.5
			l-3-1.6l0-6.8l3-2.6L138.4,285.5z"/>
		<path class="st0" d="M142,277.2l-2.4-2.7h14.9l-2.4,2.7h-3.3l-1.7-1.6l-1.8,1.6H142z M147.1,297.3l-1.6-1.5l0-8.2l1.6-1.5l1.5,1.5
			l0,8.2L147.1,297.3z M147.1,285.8l-1.6-1.3l0-6.7l1.5-1.5l1.5,1.5l0,6.7L147.1,285.8z"/>
		<path class="st0" d="M157.3,295.4l-1.5-1.4l0-7.9l3,1.4l0,6.5L157.3,295.4z M158.8,283.9l-3,1.6l0-7.9l1.5-1.4l1.5,1.4
			L158.8,283.9z M159.3,297.3l-1.6-1.4l1.6-1.3h7.3l1.5,1.3l-1.5,1.4H159.3z M159.3,277.2l-1.6-1.3l1.6-1.4h7.3l1.5,1.4l-1.5,1.3
			H159.3z M168.6,295.4l-1.5-1.4l0-6.5l3-1.4l0,7.9L168.6,295.4z M170.1,285.5l-3-1.6l0-6.3l1.5-1.4l1.5,1.4L170.1,285.5z"/>
		<path class="st0" d="M176.2,294.6l-3,2.7l0-11.1l3,1.4L176.2,294.6z M176.2,283.9l-3,1.6l0-10.6l3,2.8L176.2,283.9z M176.6,277.2
			l-3-2.7h24.8l-3.1,2.7H188l-2-1.8l-2,1.8H176.6z M186,297.3l-1.5-2.3l0-7.5l1.5-1.2l1.5,1.2l0,7.5L186,297.3z M186,285.7l-1.5-1
			l0-7.1l1.5-1.4l1.5,1.5l0,7L186,285.7z M198.9,297.3l-3-2.7l0-7l3.1-1.4L198.9,297.3z M198.9,285.5l-3-1.6l0-6.3l3-2.7
			L198.9,285.5z"/>
		<path class="st0" d="M203.4,295.4l-1.5-1.4l0-7.9l3,1.4l0,6.5L203.4,295.4z M204.9,283.9l-3,1.6l0-7.9l1.5-1.4l1.5,1.4
			L204.9,283.9z M205.4,297.3l-1.6-1.4l1.6-1.3h7.3l1.5,1.3l-1.5,1.4H205.4z M205.4,277.2l-1.6-1.3l1.6-1.4h7.3l1.5,1.4l-1.5,1.3
			H205.4z M214.7,295.4l-1.5-1.4l0-6.5l3-1.4l0,7.9L214.7,295.4z M216.2,285.5l-3-1.6l0-6.3l1.5-1.4l1.5,1.4L216.2,285.5z"/>
		<path class="st0" d="M219.9,277.2l-2.4-2.7h14.9l-2.4,2.7h-3.3l-1.7-1.6l-1.8,1.6H219.9z M224.9,297.3l-1.6-1.5l0-8.2l1.6-1.5
			l1.5,1.5l0,8.2L224.9,297.3z M225,285.8l-1.6-1.3l0-6.7l1.5-1.5l1.5,1.5l0,6.7L225,285.8z"/>
		<path class="st0" d="M236.7,297.3l-3-2.7l0-7l3-1.4V297.3z M236.7,285.5l-3-1.6l0-6.8l3-2.7L236.7,285.5z"/>
		<path class="st0" d="M246.6,297.3l-6.8-11.4l4,0.9l2.9,4.7L246.6,297.3z M242.8,283.9l-3,1.6v-10.6l3,2.8L242.8,283.9z
			 M254.2,285.9l-6.9,11.3l0-5.7l2.9-4.7L254.2,285.9z M254.1,285.5l-3-1.6l0-6.3l3-2.8L254.1,285.5z"/>
		<path class="st0" d="M260,294.1l-3,2.8v-10.6l3,1.4L260,294.1z M270.9,297.3h-13.4l3-2.7h7.3L270.9,297.3z M260,283.9l-3,1.6
			l0-10.6l3,2.8L260,283.9z M260.5,287.1l-2.8-1.3l2.8-1.5h7.3l2.8,1.5l-2.8,1.3H260.5z M260.5,277.2l-3-2.7h13.4l-3,2.7H260.5z"/>
		<path class="st0" d="M285.4,294.1l-3,2.8v-10.6l3,1.4L285.4,294.1z M296.3,297.3h-13.4l3-2.7h7.3L296.3,297.3z M285.4,283.9
			l-3,1.6l0-10.6l3,2.8L285.4,283.9z M285.9,287.1l-2.8-1.3l2.8-1.5h7.3l2.8,1.5l-2.8,1.3H285.9z M285.9,277.2l-3-2.7h13.4l-3,2.7
			H285.9z"/>
		<path class="st0" d="M300.8,294.1l-3,2.8l0-10.6l3,1.4L300.8,294.1z M311.6,297.3h-13.4l3-2.7h7.3L311.6,297.3z M300.8,283.9
			l-3,1.6v-11.1l3,2.7L300.8,283.9z M312.2,296.8l-3.1-2.8l0-6.5l3.1-1.4V296.8z"/>
		<path class="st0" d="M318.1,294.1l-3,2.8v-10.6l3,1.4L318.1,294.1z M328.9,297.3h-13.4l3-2.7h7.3L328.9,297.3z M318.1,283.9
			l-3,1.6l0-10.6l3,2.8L318.1,283.9z M318.6,287.1l-2.8-1.3l2.8-1.5h7.3l2.8,1.5l-2.8,1.3H318.6z M318.6,277.2l-3-2.7h13.4l-3,2.7
			H318.6z"/>
		<path class="st0" d="M332,295.4l-1.5-1.4l0-7.9l3,1.6l0,6.3L332,295.4z M333.5,284.2l-3,1.4l0-7.9l1.5-1.4l1.5,1.4L333.5,284.2z
			 M334,297.3l-1.6-1.4l1.6-1.3h7.3l3,2.7H334z M334,277.2l-1.6-1.3l1.6-1.4h10.3l-3,2.7H334z"/>
		<path class="st0" d="M346.5,277.2l-2.4-2.7H359l-2.4,2.7h-3.3l-1.7-1.6l-1.8,1.6H346.5z M351.5,297.3l-1.6-1.5l0-8.2l1.6-1.5
			l1.5,1.5l0,8.2L351.5,297.3z M351.6,285.8l-1.6-1.3l0-6.7l1.5-1.5l1.5,1.5l0,6.7L351.6,285.8z"/>
		<path class="st0" d="M363.2,294.1l-3,2.8l0-10.6l3,1.4L363.2,294.1z M363.2,283.9l-3,1.6l0-10.6l3,2.8L363.2,283.9z M363.7,287.1
			l-2.8-1.3l2.8-1.5h7.3l2.8,1.5l-2.8,1.3H363.7z M363.7,277.2l-3-2.7H371l1.5,1.4l-1.5,1.3H363.7z M371.5,294.1l-3.7-6.5h3.4
			l5.5,9.7L371.5,294.1z M374.6,285.5l-3.1-1.6l0-6.3l1.5-1.4l1.5,1.4L374.6,285.5z"/>
		<path class="st0" d="M379.1,295.4l-1.5-1.4l0-7.9l3,1.4l0,6.5L379.1,295.4z M380.6,283.9l-3,1.6l0-7.9l1.5-1.4l1.5,1.4
			L380.6,283.9z M381.1,297.3l-1.6-1.4l1.6-1.3h7.3l1.5,1.3l-1.5,1.4H381.1z M381.1,277.2l-1.6-1.3l1.6-1.4h7.3l1.5,1.4l-1.5,1.3
			H381.1z M390.5,295.4l-1.5-1.4l0-6.5l3-1.4l0,7.9L390.5,295.4z M392,285.5l-3-1.6l0-6.3l1.5-1.4l1.5,1.4L392,285.5z"/>
		<path class="st0" d="M398,294.6l-3,2.7l0-11.1l3,1.4L398,294.6z M398,283.9l-3,1.6v-10.6l3,2.8L398,283.9z M398.5,277.2l-3-2.7
			h13.4l-3,2.7H398.5z M409.4,297.3l-3.1-2.7l0-7l3-1.4L409.4,297.3z M409.4,285.5l-3.1-1.6l0-6.3l3-2.8L409.4,285.5z"/>
		<path class="st0" d="M415.4,297.3l-3-2.7l0-7l3-1.4V297.3z M415.4,285.5l-3-1.6l0-6.8l3-2.7L415.4,285.5z"/>
		<path class="st0" d="M420,295.4l-1.5-1.4l0-7.9l3,1.6l0,6.3L420,295.4z M421.5,284.2l-3,1.4l0-7.9l1.5-1.4l1.5,1.4L421.5,284.2z
			 M422,297.3l-1.6-1.4l1.6-1.3h7.3l3,2.7H422z M422,277.2l-1.6-1.3l1.6-1.4h10.3l-3,2.7H422z"/>
		<path class="st0" d="M444.7,297.3h-10.9l3.3-2.7h7.6l1.5,1.3L444.7,297.3z M436.9,283.9l-3,1.6l0-7.9l1.5-1.4l1.5,1.4L436.9,283.9
			z M437.4,287.1l-2.8-1.3l2.8-1.5h7.3l2.8,1.5l-2.8,1.3H437.4z M437.4,277.2l-1.6-1.3l1.6-1.4h10.9l-3.3,2.7H437.4z M446.7,295.4
			l-1.5-1.4l0-6.5l3.1-1.4l0,7.9L446.7,295.4z"/>
		<path class="st0" d="M462,277.2l-2.4-2.7h14.9l-2.4,2.7h-3.3l-1.7-1.6l-1.8,1.6H462z M467,297.3l-1.6-1.5l0-8.2l1.6-1.5l1.5,1.5
			l0,8.2L467,297.3z M467.1,285.8l-1.6-1.3l0-6.7l1.5-1.5l1.5,1.5l0,6.7L467.1,285.8z"/>
		<path class="st0" d="M478.7,294.1l-3,2.8v-10.6l3,1.4L478.7,294.1z M489.6,297.3h-13.4l3-2.7h7.3L489.6,297.3z M478.7,283.9
			l-3,1.6l0-10.6l3,2.8L478.7,283.9z M479.2,287.1l-2.8-1.3l2.8-1.5h7.3l2.8,1.5l-2.8,1.3H479.2z M479.2,277.2l-3-2.7h13.4l-3,2.7
			H479.2z"/>
		<path class="st0" d="M492.6,295.4l-1.5-1.4l0-7.9l3,1.6l0,6.3L492.6,295.4z M494.1,284.2l-3,1.4l0-7.9l1.5-1.4l1.5,1.4
			L494.1,284.2z M494.6,297.3l-1.6-1.4l1.6-1.3h7.3l3,2.7H494.6z M494.6,277.2l-1.6-1.3l1.6-1.4H505l-3,2.7H494.6z"/>
		<path class="st0" d="M509.5,294.6l-3,2.7v-11.1l3,1.4L509.5,294.6z M509.5,283.9l-3,1.6v-11.1l3,2.7L509.5,283.9z M510,287.1
			l-2.8-1.3l2.8-1.5h7.3l2.8,1.5l-2.8,1.3H510z M520.9,297.3l-3.1-2.7l0-7l3.1-1.4V297.3z M520.9,285.5l-3.1-1.6l0-6.8l3.1-2.7
			V285.5z"/>
		<path class="st0" d="M527,294.6l-3,2.7v-11.1l3,1.4L527,294.6z M526.9,283.9l-3,1.6l0-10.6l3,2.8L526.9,283.9z M527.5,277.2
			l-3-2.7h13.4l-3,2.7H527.5z M538.3,297.3l-3.1-2.7l0-7l3-1.4L538.3,297.3z M538.3,285.5l-3.1-1.6l0-6.3l3-2.8V285.5z"/>
		<path class="st0" d="M542.8,295.4l-1.5-1.4l0-7.9l3,1.4l0,6.5L542.8,295.4z M544.3,283.9l-3,1.6l0-7.9l1.5-1.4l1.5,1.4
			L544.3,283.9z M544.8,297.3l-1.6-1.4l1.6-1.3h7.3l1.5,1.3l-1.5,1.4H544.8z M544.8,277.2l-1.6-1.3l1.6-1.4h7.3l1.5,1.4l-1.5,1.3
			H544.8z M554.2,295.4l-1.5-1.4l0-6.5l3-1.4l0,7.9L554.2,295.4z M555.6,285.5l-3-1.6l0-6.3l1.5-1.4l1.5,1.4L555.6,285.5z"/>
		<path class="st0" d="M561.6,294.1l-3,2.8l0-10.6l3,1.4L561.6,294.1z M572.5,297.3h-13.4l3-2.7h7.3L572.5,297.3z M561.6,283.9
			l-3,1.6v-11.1l3,2.7L561.6,283.9z M573,296.8l-3.1-2.8l0-6.5l3.1-1.4L573,296.8z"/>
		<path class="st0" d="M577.5,295.4l-1.5-1.4l0-7.9l3,1.4l0,6.5L577.5,295.4z M579,283.9l-3,1.6l0-7.9l1.5-1.4l1.5,1.4L579,283.9z
			 M579.5,297.3l-1.6-1.4l1.6-1.3h7.3l1.5,1.3l-1.5,1.4H579.5z M579.5,277.2l-1.6-1.3l1.6-1.4h7.3l1.5,1.4l-1.5,1.3H579.5z
			 M588.8,295.4l-1.5-1.4l0-6.5l3-1.4l0,7.9L588.8,295.4z M590.3,285.5l-3-1.6l0-6.3l1.5-1.4l1.5,1.4L590.3,285.5z"/>
		<path class="st0" d="M594.9,295.4l-1.5-1.4l0-7.9l3,1.4l0,6.5L594.9,295.4z M596.4,283.9l-3,1.6l0-7.9l1.5-1.4l1.5,1.4
			L596.4,283.9z M596.9,297.3l-1.6-1.4l1.6-1.3h7.3l1.5,1.3l-1.5,1.4H596.9z M596.9,277.2l-1.6-1.3l1.6-1.4h10.2l-2.9,2.7H596.9z
			 M601.4,287.1l-2.9-1.3l2.9-1.5h2.8l2.8,1.5l-2.8,1.3H601.4z M606.2,295.4l-1.5-1.4l0-6.5l3-1.4l0,7.9L606.2,295.4z"/>
		<path class="st0" d="M613.6,283.9l-3,1.6l0-11.1l3,2.7L613.6,283.9z M614.1,287.1l-2.9-1.3l2.9-1.5h7.3l2.8,1.5l-2.8,1.3H614.1z
			 M617.7,297.3l-1.5-1.6l0-8h3.1l0,8L617.7,297.3z M624.9,285.5l-3.1-1.6l0-6.8l3.1-2.7L624.9,285.5z"/>
	</g>
	<g class="logotipo" *ngIf="logotype">
		<path class="st1" d="M172.4,201c1,0,1.4,0.6,1.4,1.9V227c0,1.8,0.1,3.3,0.3,4.4c0.2,1.2,0.5,2.1,1,2.8c0.5,0.7,1.2,1.2,2,1.5
			c0.9,0.3,2,0.5,3.5,0.5h16.8c1.4,0,2.6-0.2,3.5-0.5c0.9-0.3,1.6-0.8,2.2-1.5c0.5-0.7,0.9-1.6,1.1-2.8c0.2-1.2,0.3-2.6,0.3-4.4
			v-24.1c0-1.3,0.5-1.9,1.4-1.9h6.4c1,0,1.4,0.6,1.4,1.9v27c0,3-0.3,5.6-0.8,7.7c-0.5,2.1-1.4,3.9-2.6,5.3c-1.2,1.4-2.8,2.3-4.8,3
			c-2,0.6-4.5,0.9-7.4,0.9h-18.2c-3,0-5.4-0.3-7.4-0.9c-2-0.6-3.6-1.6-4.8-3c-1.2-1.4-2.1-3.1-2.6-5.3c-0.5-2.1-0.8-4.7-0.8-7.7v-27
			c0-1.3,0.5-1.9,1.5-1.9H172.4z"/>
		<path class="st1" d="M266.4,201c0.9,0,1.3,0.5,1.3,1.4v6.4c0,1-0.4,1.5-1.3,1.5h-17.6v35c0,1-0.4,1.4-1.2,1.4h-6.1
			c-0.8,0-1.2-0.5-1.2-1.4v-35h-17.6c-0.9,0-1.3-0.5-1.3-1.5v-6.4c0-1,0.4-1.4,1.3-1.4H266.4z"/>
		<path class="st1" d="M379.6,201c0.9,0,1.3,0.5,1.3,1.4v6.4c0,1-0.4,1.5-1.3,1.5h-17.6v35c0,1-0.4,1.4-1.2,1.4h-6.1
			c-0.8,0-1.2-0.5-1.2-1.4v-35h-17.6c-0.9,0-1.3-0.5-1.3-1.5v-6.4c0-1,0.4-1.4,1.3-1.4H379.6z"/>
		<path class="st1" d="M311.1,201c2.9,0,5.4,0.3,7.4,1c2,0.6,3.6,1.6,4.8,3c1.2,1.4,2.1,3.1,2.6,5.3c0.5,2.1,0.8,4.7,0.8,7.7v12
			c0,3-0.3,5.6-0.8,7.7c-0.5,2.1-1.4,3.9-2.6,5.3c-1.2,1.4-2.8,2.3-4.8,3c-2,0.6-4.5,0.9-7.4,0.9h-18.5c-3,0-5.4-0.3-7.4-0.9
			c-2-0.6-3.6-1.6-4.8-3c-1.2-1.4-2.1-3.1-2.6-5.3c-0.5-2.1-0.8-4.7-0.8-7.7v-12c0-3,0.3-5.6,0.8-7.7c0.5-2.1,1.4-3.9,2.6-5.3
			c1.2-1.4,2.8-2.4,4.8-3c2-0.6,4.5-1,7.4-1H311.1z M286.4,227.9c0,1.8,0.1,3.3,0.3,4.4c0.2,1.2,0.6,2.1,1.1,2.8
			c0.5,0.7,1.3,1.2,2.2,1.5c0.9,0.3,2.1,0.5,3.5,0.5h16.7c1.4,0,2.6-0.2,3.5-0.5c0.9-0.3,1.6-0.8,2.2-1.5c0.5-0.7,0.9-1.6,1.1-2.8
			c0.2-1.2,0.3-2.6,0.3-4.4V220c0-1.7-0.1-3.2-0.3-4.3c-0.2-1.2-0.6-2.1-1.1-2.8c-0.5-0.7-1.3-1.2-2.2-1.5c-0.9-0.3-2.1-0.4-3.5-0.4
			h-16.7c-1.4,0-2.5,0.1-3.5,0.4c-0.9,0.3-1.6,0.8-2.2,1.5c-0.5,0.7-0.9,1.7-1.1,2.8c-0.2,1.2-0.3,2.6-0.3,4.3V227.9z"/>
		<path class="st1" d="M480.9,201c2.9,0,5.4,0.3,7.4,1c2,0.6,3.6,1.6,4.8,3c1.2,1.4,2.1,3.1,2.6,5.3c0.5,2.1,0.8,4.7,0.8,7.7v12
			c0,3-0.3,5.6-0.8,7.7c-0.5,2.1-1.4,3.9-2.6,5.3c-1.2,1.4-2.8,2.3-4.8,3c-2,0.6-4.5,0.9-7.4,0.9h-18.5c-3,0-5.4-0.3-7.4-0.9
			c-2-0.6-3.6-1.6-4.8-3c-1.2-1.4-2.1-3.1-2.6-5.3c-0.5-2.1-0.8-4.7-0.8-7.7v-12c0-3,0.3-5.6,0.8-7.7c0.5-2.1,1.4-3.9,2.6-5.3
			c1.2-1.4,2.8-2.4,4.8-3c2-0.6,4.5-1,7.4-1H480.9z M456.2,227.9c0,1.8,0.1,3.3,0.3,4.4c0.2,1.2,0.6,2.1,1.1,2.8
			c0.5,0.7,1.3,1.2,2.2,1.5c0.9,0.3,2.1,0.5,3.5,0.5H480c1.4,0,2.6-0.2,3.5-0.5c0.9-0.3,1.6-0.8,2.2-1.5c0.5-0.7,0.9-1.6,1.1-2.8
			c0.2-1.2,0.3-2.6,0.3-4.4V220c0-1.7-0.1-3.2-0.3-4.3c-0.2-1.2-0.6-2.1-1.1-2.8c-0.5-0.7-1.3-1.2-2.2-1.5c-0.9-0.3-2.1-0.4-3.5-0.4
			h-16.7c-1.4,0-2.5,0.1-3.5,0.4c-0.9,0.3-1.6,0.8-2.2,1.5c-0.5,0.7-0.9,1.7-1.1,2.8c-0.2,1.2-0.3,2.6-0.3,4.3V227.9z"/>
		<path class="st1" d="M538.2,201c2.9,0,5.4,0.3,7.4,1c2,0.6,3.6,1.6,4.8,3c1.2,1.4,2.1,3.1,2.6,5.3c0.5,2.1,0.8,4.7,0.8,7.7v27
			c0,1.2-0.5,1.8-1.4,1.8h-6.4c-1,0-1.4-0.6-1.4-1.8v-24.2c0-1.7-0.1-3.2-0.3-4.4c-0.2-1.2-0.5-2.1-1-2.8c-0.5-0.7-1.2-1.2-2.1-1.5
			c-0.9-0.3-2-0.5-3.4-0.5h-17.4c-1.4,0-2.5,0.2-3.5,0.5c-0.9,0.3-1.6,0.8-2.2,1.5c-0.5,0.7-0.9,1.6-1.1,2.8
			c-0.2,1.2-0.3,2.7-0.3,4.4V245c0,1.2-0.5,1.8-1.4,1.8h-6.4c-1,0-1.5-0.6-1.5-1.8v-27c0-3,0.3-5.6,0.8-7.7c0.5-2.1,1.4-3.9,2.6-5.3
			c1.2-1.4,2.8-2.4,4.8-3c2-0.6,4.5-1,7.4-1H538.2z"/>
		<path class="st1" d="M568.5,200.6c0.8,0,1.2,0.5,1.2,1.5v43.3c0,1-0.4,1.5-1.2,1.5h-5.9c-0.8,0-1.3-0.5-1.3-1.5V202
			c0-1,0.4-1.5,1.3-1.5H568.5z"/>
		<path class="st1" d="M584.3,201c0.5,0,0.8,0.1,1.1,0.3c0.3,0.2,0.5,0.4,0.8,0.8l12.9,15l13.2-15c0.2-0.3,0.5-0.6,0.7-0.8
			c0.3-0.2,0.6-0.3,1.1-0.3h5.4c0.6,0,1,0.3,1.1,0.8c0.1,0.5,0,1-0.4,1.5l-16.4,20.4l17,20.9c0.3,0.4,0.4,0.9,0.3,1.4
			c-0.1,0.5-0.4,0.8-1,0.8h-6.3c-0.5,0-0.9-0.1-1.1-0.2c-0.3-0.2-0.5-0.4-0.8-0.7L598,229.7l-14.2,16.2c-0.2,0.3-0.5,0.5-0.7,0.7
			c-0.3,0.2-0.6,0.2-1.1,0.2h-5.4c-0.6,0-1-0.2-1.1-0.8c-0.1-0.5,0-1,0.4-1.4l17.4-21.6l-15.8-19.8c-0.3-0.4-0.5-0.9-0.4-1.5
			c0.1-0.5,0.4-0.8,1-0.8H584.3z"/>
		<path class="st1" d="M155.7,210.2c-0.5-2.1-1.3-3.9-2.5-5.3c-1.2-1.4-2.8-2.4-4.8-3c-2-0.6-4.4-1-7.4-1h-24.2
			c-0.8,0-1.5,0.5-1.5,1.5v7c0,1,0.7,1.5,1.5,1.5h23.3c1.4,0,2.6,0.1,3.5,0.4c0.9,0.3,1.6,0.7,2.2,1.3c0.5,0.6,0.9,1.3,1.2,2.3
			c0.2,0.9,0.4,2.1,0.4,3.4v1.6h-26.7c-1.9,0-3.5,0.2-4.8,0.7c-1.3,0.5-2.3,1.2-3.1,2.1c-0.8,0.9-1.5,2.1-1.8,3.5
			c-0.3,1.4-0.6,2.9-0.6,4.6v4c0,2.1,0.3,3.8,0.6,5.3c0.3,1.5,0.9,2.7,1.7,3.7c0.8,0.9,1.8,1.8,3.1,2.2c1.3,0.5,2.9,0.8,4.8,0.8
			c0,0,20.9,0,21.2,0c0.3,0,0.5-0.4,0.5-0.6s0-7.4,0-7.8s-0.3-0.6-0.5-0.6c-0.3,0-18.5,0-18.5,0c-1.4,0-2.5-0.5-3-1.2
			c-0.5-0.7-1-2-1-3.5v-1.8c0-1.3,0.4-2.6,1-3.3c0.5-0.7,1.7-1.3,3-1.3h24v7l0,0c0,0,0,11.6,0,12.1c0,0.5,0.6,0.9,1.1,0.9
			s3.3,0,3.3,0c1,0,1.7-0.2,2.4-0.4c0.6-0.2,1.1-0.6,1.5-1.1c0.4-0.5,0.5-1.2,0.7-2.1c0.2-0.9,0.1-2,0.1-3.3v-22.2
			C156.4,214.9,156.2,212.3,155.7,210.2z"/>
		<path class="st1" d="M439.4,245.1l-16.6-13.9c5.6,0,11.8-2,13.3-4.2c1.4-2.2,2.3-5.2,2.3-8.9v-3.7c0-4.5-1.2-7.8-3.3-10.1
			c-2.1-2.3-5.7-3.4-10.4-3.4h-25.3c-6.2,0-10,4.9-10,9.9v34.4c0,1,0.6,1.7,1.5,1.7h6.7c0.9,0,1.8-0.7,1.8-1.7v-31.6
			c0-1.8,1.8-3.7,3.4-3.7h20c2.1,0,3.5,0.4,4.4,1.4c0.9,1,1.2,2.4,1.2,4.3v2.8c0,2-0.4,3.3-1.2,4.2c-0.9,1-2.3,1.3-4.4,1.3
			c0,0-17.1,0-17.6,0s-0.8,0.5-0.8,0.8c0,0.3,0,6.2,0,6.6c0,0.4,0.8,0.6,0.8,0.6s24.1,14.5,24.3,14.6c0.2,0.1,0.6,0.4,1.1,0.4h8
			c0.6,0,0.9-0.3,1-0.8C439.7,245.8,439.6,245.4,439.4,245.1z"/>
	</g>
	<g class="isologo">
		<g>
			<ellipse class="st0" cx="402.7" cy="113.5" rx="4.9" ry="5"/>
			<ellipse class="st0" cx="366.7" cy="151.8" rx="4.9" ry="5"/>
			<path class="st0" d="M379.8,128.4c-1.9,1.9-1.9,5.1,0,7c1.9,1.9,5,1.9,6.9,0c1.9-1.9,1.9-5.1,0-7
				C384.8,126.5,381.7,126.5,379.8,128.4z"/>
			<path class="st0" d="M344.7,145.9c1.9-1.9,1.9-5.1,0-7c-1.9-1.9-5-1.9-6.9,0c-1.9,1.9-1.9,5.1,0,7
				C339.6,147.9,342.7,147.9,344.7,145.9z"/>
			<path class="st0" d="M423.7,94.6c-1.9,1.9-1.9,5.1,0,7c1.9,1.9,5,1.9,6.9,0c1.9-1.9,1.9-5.1,0-7
				C428.7,92.7,425.6,92.7,423.7,94.6z"/>
			<path class="st0" d="M486.9,73.4c-5.2-7.5-27.3-2.5-27.3-2.5c-10.1,5.6-15.6,4-15.6,4c-24.8-27.7-41.4-26.2-41.4-26.2
				c-12.2-1.2-24.9-1.5-36.6-1.4c-11.6-0.1-24.8,0.1-37,1.4c0,0-16.6-1.5-41.4,26.2c0,0-5.5,1.6-15.6-4c0,0-22.1-5-27.3,2.5
				c-5.2,7.5-6.4,9.3,2.1,10.3c8.6,0.9,15.6,1.6,15.6,1.6s-5.7,6.1-7.1,24.2l60.6,0l20.9,21.2c1.4-0.5,3-0.8,4.6-0.8
				c6.9,0,12.4,5.3,12.4,12.1c0,6.8-5.5,12.9-12.5,12.9c-6.9,0-12.5-6.1-12.5-12.8c0-1.8,0.4-3.5,1.2-5.1l-17.4-17.7l-57.6,0
				c0.1,11.3,1.7,26.1,6.2,45l0.6,7.5l37.1,0.5l1.7-6.1c0,0,29.8,1.6,60.8,1.8v-4.8c-4.3-2-7.2-6.3-7.2-11.3
				c0-6.9,5.6-12.5,12.5-12.5c6.9,0,12.5,5.6,12.5,12.5c0,5.2-3.2,9.7-7.8,11.6v4.6c16,0,28.6-0.1,39.7-0.5l-23.5-23.9
				c-1.4,0.5-2.8,0.8-4.4,0.8c-6.9,0-12.5-5.6-12.5-12.5c0-6.9,5.6-12.5,12.5-12.5c6.9,0,12.5,5.6,12.5,12.5c0,2-0.5,3.8-1.3,5.4
				l29.2,29.2c6.5-0.3,6.9-0.4,6.9-0.4l2.1,6.1l37.1-0.5l0.6-7.5c3.5-14.8,5.3-27,5.9-37.1l-27.8,0l-16.8-17c-1.5,0.6-3.2,1-4.9,1
				c-6.9,0-12.5-5.6-12.5-12.5c0-6.9,5.6-12.5,12.5-12.5c6.9,0,12.5,5.6,12.5,12.5c0,1.7-0.4,3.4-1,4.9l13.6,13.8l24.7,0
				c-0.2-24.2-7.5-32.1-7.5-32.1s7-0.6,15.6-1.6C493.3,82.7,492.1,80.8,486.9,73.4z M406.4,78.4V102c4.8,1.7,8.5,6.5,8.5,11.9
				c0,6.9-6.3,12.4-12.9,12.4c-6.7,0-12.1-5.5-12.1-12.4c0-5.4,3.7-10.1,8.5-11.9V78.7c-8,0.2-22.2,0.3-32.2,0.3
				c-41.5,0-66.7-2-66.7-2s5.9-15.1,31.2-18.4c20.6-2.6,35.3-1.9,35.3-1.9s13-0.7,33.6,1.9c25.3,3.2,31.1,18.4,31.1,18.4
				S425.4,77.8,406.4,78.4z"/>
		</g>
	</g>
</g>
</svg>
