@import "../../../sass/variables";

.st0{fill:$color-primary;}
.st1{fill:$color-secondary;}

.white {
  .st0{fill:$color-white;}
  .st1{fill:$color-white;}
}

.black {
  .st0{fill:$color-senary;}
  .st1{fill:$color-senary;}
}

.primary {
  .st0{fill:$color-primary;}
  .st1{fill:$color-primary;}
}

.secondary {
  .st0{fill:$color-secondary;}
  .st1{fill:$color-secondary;}
}
