<form novalidate (ngSubmit)="onSubmit()" [formGroup]="contactForm">
<h4>Contáctanos</h4>
<div class="form-group">
  <input type="text" class="form-control" #firstname formControlName="firstname" required
         aria-describedby="emailHelp" placeholder="Nombre">
</div>
<div class="form-group">
  <input type="text" class="form-control" #lastname formControlName="lastname" required
         aria-describedby="emailHelp" placeholder="Apellido">
</div>
<div class="form-group">
  <input type="email" class="form-control" #email formControlName="email" required
         aria-describedby="emailHelp" placeholder="Correo electrónico">
</div>
<div class="form-group">
  <input type="text" class="form-control" #subject formControlName="subject" required
         aria-describedby="emailHelp" placeholder="Asunto">
</div>
<div class="form-group">
    <textarea class="form-control" #message formControlName="message" required
              aria-describedby="emailHelp" placeholder="Mensaje"></textarea>
</div>
<button type="submit" class="btn btn-primary">Enviar</button>
</form>
