@import "../../../sass/variables.scss";
.block {
  flex: 1;
  &.form-contact {
    flex: 100%;
    margin: 60px 15px 0px;
  }
}
h4 {
  text-align: center;
  color: $color-white;
  margin: 8% 10% 0px;
  z-index: 1;
}
.dedication {
  text-align: center;
  color: $color-white;
  margin: 16px 4% 0px;
  z-index: 1;
}

.block-light {
  display: grid;
  grid-gap: 15px;
  z-index: 1;
  width: 100%;
  .block-6 {
    .header {
      background-color: $color-white;
      color: $color-primary;
      font-family: $font-primary;
      padding: 2px 4px;
      text-align: center;
      text-transform: uppercase;
    }
    p {
      color: $color-white;
      font-size: $font-size-septenary;
      text-align: center;
    }
  }
  @media (min-width: $break-xs1) {
    grid-template-columns: 50% 50%;
    .block-6 {
      margin: 42px;
    }
  }
}
