<div class="background"></div>
<h4 *ngIf="slogan!=null">{{ slogan.content }}</h4>
<p class="dedication" *ngIf="dedication!=null">{{ dedication.content }}</p>
<div class="block-light">
  <div class="block-6">
    <h5 class="header">Misión</h5>
    <p *ngIf="mission!=null">{{ mission.content }}</p>
  </div>
  <div class="block-6">
    <h5 class="header">Visión</h5>
    <p *ngIf="view!=null">{{ view.content }}</p>
  </div>
</div>
<div class="block form-contact col-xs-12 col-sm-12 col-md-4 pull-left">
  <app-contact></app-contact>
</div>
<div class="block info col-xs-12 col-sm-6 col-md-4 pull-left">
  <app-logotype type="white"></app-logotype>
  <p *ngIf="footer!=null">{{ footer.content }}</p>
</div>
<div class="block col-xs-12 col-sm-6 col-md-4 pull-left">
  <h4>Horarios de apertura</h4>
  <div class="card">
    <div class="card-header"><h5>Lunes a Viernes</h5></div>
    <div class="card-body">9:00am - 18:00pm</div>
    <div class="card-header"><h5>Sábados</h5></div>
    <div class="card-body">9:00am - 14:00pm</div>
  </div>
</div>
