@import "./variables.scss";

footer#footer {
  background-image: url('../assets/images/footerbackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;

  .background {
    background-color: rgba($color-senary, .68);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }

  app-footer {
    width: 100%;
    flex: 1 100%;
    .container {
      background-color: $color-primary;
      margin: 60px auto 60px;
      min-height: 80px;
      max-height: 100px;
      flex-grow: 1;
      align-self: end;
      position: relative;
      .copyright {
        color: white;
        margin-top: 2%;
      }
    }
  }

  &.home {
    min-height: 60vh;
  }
}

.block {
  background-color: $color-senary;
  position: relative;
  min-height: 100px;
  margin: 60px 15px 60px;
  padding: 30px;
  &:before {
    content: '';
    position: absolute;
    background-color: $color-primary;
    width: 100%;
    height: 10px;
    top: -10px;
    left: 0px;
  }
  h4 {
    color: white;
    font-family: $font-secondary;
  }
  textarea,
  input {
    border-radius: 8px;
    border: 2px solid $color-primary;
    @include placeholder() {
      color: $color-primary;
      font-size: 16px;
    }
  }
}

app-footer-blocks {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  .block {
    flex: 1;
    .card {
      background-color: transparent;
      border: 1px solid $color-quinary;
      border-radius: 1px;
      .card-header {
        background-color: $color-quinary;
        padding: 8px 6px;
        h5 {
          color: white;
          font-family: $font-secondary;
          font-size: 14px;
          margin-bottom: 0px;
        }
      }
      .card-body {
        background-color: transparent;
        padding: 8px 6px;
        color: $color-quinary;
      }
    }

    &.info {
      p {
        text-align: center;
        color: white;
        font-weight: normal ;
      }
    }
  }
}
