@import "./variables.scss";

app-navbar {
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 100;
  img {
    height: 60px;
    margin: 4px 8px 4px 16px;
  }
  .navbar-default {
    background: -moz-linear-gradient(top, rgba(0,109,171,1) 0%, rgba(0,109,171,0.39) 61%, rgba(0,109,171,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,109,171,1) 0%,rgba(0,109,171,0.39) 61%,rgba(0,109,171,0) 100%);
    background: linear-gradient(to bottom, rgba(0,109,171,1) 0%,rgba(0,109,171,0.39) 61%,rgba(0,109,171,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006dab', endColorstr='#00006dab',GradientType=0 );
    border: 0px solid transparent;
    .container {
      position: relative;
      .navbar-header {
        position: relative;
        background-color: transparent;
        z-index: 10;

        &:before {
          content: '';
          background-color: $color-white;
          position: absolute;
          width: 100%;
          height: 76px;
          top: 0px;
          left: 0px;
          transform: skewX(-20deg);
          box-shadow: 4px 1px 16px black;
          z-index: -1;
        }

        &:hover {
          &:before {
            content: '';
            background-color: $color-primary;
            transition: background-color .86s linear;
          }
          svg {
            .st0, .st1 {
              fill: white;
              transition: background-color .86s linear;
            }
          }
        }
      }

      .navbar-menu-wrapper {
        width: 780px;
        position: absolute;
        top: 12px;
        right: 0px;
        #navbar-menu {
          margin-top: -6%;
          transition: margin-top $transition_data;
          &.opened {
            margin-top: 0px;
            transition: margin-top calc(#{$transition_data} * 5) ease-in;
          }
        }

        ul {
          list-style: none;
          li {
            a {
              &:hover {
                text-decoration: none;
              }
            }
          }
        }

        .menu-desktop {
          position: absolute;
          top: 2px;
          left: 2%;
          z-index: 1;
          display: none;
          transition: all $transition_data;
          .menu-item {
            float: left;
            a {
              width: auto;
              padding: 3px 20px 2px;
              position: relative;
              text-align: center;
              font-family: $font-primary;
              color: $color-primary;

              &:before {
                content: '';
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                border-left: 1px solid $color-primary;
                border-right: 1px solid $color-primary;
                transform: skew(42deg);
                z-index: -1;
              }
              &:hover {
                color: white;
                &:before {
                  background-color: $color-primary;
                }
              }
            }
          }

          &.opened {
            display: block;
            transition: all $transition_data;
          }
        }
        @media(min-width: $break-lg) {
          width: 992px;
          .menu-desktop {
            .menu-item {
              a {
                padding: 7px 20px 10px;
              }
            }
          }
        }

        @media(max-width: $break-md) {
          .menu-desktop {
            width: 230px;
            margin: 15px;
            right: 46px;
            left: auto;
            top: 70px;
            .menu-item {
              a {
                color: $color-primary;
                &:before {
                  background-color: $color-white;
                }
              }
            }
          }
        }
      }
      //Mobile
      .navbar-toggler {
        background-color: $color-primary;
        border-radius: 50%;
        border: 16px solid $color-white;
        width: 90px;
        height: 90px;
        .icon-bar {
          display: block;
          width: 32px;
          height: 4px;
          border-radius: 1px;
          background-color: $color-white;
          margin: 6px auto;
        }
        &:focus, &:hover {
          background-color: $color-secondary;
        }
        @media (min-width: $break-sm) {
          display: inline-block;
        }
      }
    }
  }

  .navbar-brand {
    width: 150px;
  }
}
