$icon-font-path: '/assets/fonts/bootstrap/';
$fa-font-path: '/assets/fonts/font-awesome/';
@import
'~bootstrap/scss/bootstrap',
'~bootstrap/scss/functions',
'~bootstrap/scss/variables',
'~bootstrap/scss/mixins',
'~bootstrap/scss/print',
'~bootstrap/scss/reboot',
'~bootstrap/scss/type';

@import '../assets/fonts/fonts';
@import './variables';

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: $font-main;
  font-size: 16px;
  background-color: $color-white;
}

h1, h2, h3, h4, h5 {
  line-height: $font-size-tertiary;
}

h1 {
  font-family: $font-primary;
  font-size: $font-size-senary;
  color: $color-primary;
}
h2 {
  font-family: $font-primary;
  font-size: $font-size-quinary;
  color: $color-secondary;
}
h3 {
  font-family: $font-primary;
  font-size: $font-size-quaternary;
  color: $color-primary;
}
h4 {
  font-family: $font-primary;
  font-size: $font-size-tertiary;
  color: $color-black;
}
h5 {
  font-family: $font-primary;
  font-size: $font-size-secondary;
  color: $color-senary;
}


.header-section {
  width: 100%;
  height: 60px;
  border: 1px solid $color-quinary;
  border-radius: 30px 0 0 30px;
  position: relative;
  margin: 15px 0px;
  background-color: $color-white;
  :before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 60px;
    height: 60px;
    border: 1px solid $color-quinary;
    border-radius: 30px;
    background-color: $color-white;
  }
  :after {
    content: '';
    position: absolute;
    width: 44px;
    height: 44px;
    top: 7px;
    left: 7px;
    border-radius: 22px;
    background-color: $color-primary;
  }
  h3 {
    padding: 15px 15px 15px 72px;
  }
}


.cover {
  background-color: $color-primary;
  position: relative;
  .banner {
    position: relative;
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(60%);
  }
  .container {
    position: relative;
    height: 100%;
  }
}

.call-action {
  background-color: $color-white;
  position: absolute;
  bottom: 10%;
  left: 50px;
  height: 100px;
  padding-left: 65px;
  padding-right: 5px;
  .circle {
    position: absolute;
    top: 0px;
    left: -50px;
    width: 100px;
    height: 100px;
    color: $color-white;
    background-color: $color-primary;
    border-radius: 50%;
    border-width: 10px;
    text-align: center;
    font-size: 12px;
    padding-top: 0px;
  }
  h1, h2, h3, h4, h5 {
    color: $color-secondary;
  }
  h3, h4, h5 {
    font-family: $font-main;
  }

  &:after {
    content: ' ';
    position: absolute;
    right: -100px;
    top: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100px 0 0;
    border-color: $color-white transparent transparent transparent;
  }

  &:hover {
    .circle {
      background-color: $color-secondary;
      transition: $transition_data;
    }
  }
}

.time-countdown {
  width: calc(25% - 30px);
  margin: 12px;
  display: inline-block;
  .number {
    text-align: center;
    width: 40px;
    height: 40px;
    margin: 4px auto;
    background-color: $color-quinary;
    color: $color-white;
    padding-top: 2px;
    font-size: 24px;
    font-weight: bold;
    font-family: $font-secondary;
  }
  .text {
    color: $color-quinary;
    font-size: 14px;
    text-align: center;
  }
}

.container-white {
  padding: 30px 0px;
  font-size: $font-size-tertiary;
}

.container-gris {
  padding: 30px 0px;
  background-color: $color-quinary;
}

.exabutton {
  position: relative;
  width: 60%;
  display: inline-block;
  margin: 5px 0px;
  .text {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: $font-size-tertiary;
    padding: 16px 0px;
  }
  .triangle {
    position: absolute;
    left: 100%;
    top: 0px;
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
    }
    &:before {
      top: -1px;
      border-color: transparent transparent transparent $color-quinary;
      border-width: 32px;
    }
    &:after {
      top: 0px;
      border-color: transparent transparent transparent $color-white;
      border-width: 31px;
    }

    &.left {
      left: -60px;
      &:before {
        left: -2px;
        border-color: transparent $color-quinary transparent transparent;
      }
      &:after {
        border-color: transparent $color-white transparent transparent;
      }
    }
  }
}

.item-label {
  border: 1px solid $color-quinary;
  min-height: 76px;
  position: relative;
  .figure {
    position: absolute;
    top: -1px;
    right: -38px;
    width: 76px;
    height: 76px;
    background-color: $color-white;
    border: 1px solid $color-quinary;
    border-radius: 50%;
    display: block;
    &>div {
      top: 8px;
      left: 8px;
      position: absolute;
      width: 58px;
      height: 58px;
      border-radius: 50%;
      background-color: $color-primary;
      color: $color-white;
      padding: 15px 0px;
      text-align: center;
    }
  }
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.calendar-wrapper {
  .calendar-icon {
    width: 70px;
    height: 70px;
    background-image: url(../assets/images/icons/spring-calendar-rounded-symbol.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
  }
  .calendar-data {
    float: right;
    padding-top: 7px;
    width: calc(100% - 70px);
    padding: 5px 15px;
    .city {
      margin-bottom: 0px;
      font-size: $font-size-quaternary;
      font-weight: bold;
    }
    .date-range {
      font-style: italic;
      color: $color-septenary;
    }
  }
}

// Component styles are injected through gulp
/* inject:scss */
@import './navbar';
@import './footer';
//@import '../app/components/accessory/accessory.component';
/* endinject */
