*{
  &:active, &:focus{
    outline: none;
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}


$break-XS: 336px;
$break-xs1: 576px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;


$font-main: "Lato", Arial, san-serif;
$font-primary: "Conthrax Sb", Arial, san-serif;
$font-secondary: Roboto, Arial, san-serif;
$font-awensome: awensome;

// major second
$font-size-primary: 13px;
$font-size-primary-lg: 16px; //14
$font-size-secondary: 1.125em; // 21
$font-size-tertiary: 1.266em; // 28
$font-size-quaternary: 1.424em; //30
$font-size-quinary: 1.602em; //30
$font-size-senary: 1.802em; //30
$font-size-septenary: 0.889em; //30
$font-size-octonary: 0.79em;

$color-primary: #006dab;
$color-secondary: #8e2c17;
$color-tertiary: #ff921e;
$color-quaternary: #ffcf06;
$color-quinary: #acabac;
$color-senary: #333333;
$color-septenary: #666666;
$color-white: #fdfbfa;
$color-black: #030200;

$transition_data: .64s ease-out;
