
  <div class="container">
    <div class="copyright col-xs-12 col-sm-6 col-md-6 float-left"><p>{{copyright}}</p></div>
    <div class="rrss col-xs-12 col-sm-6 col-md-6 float-left">
      <ul>
        <li class="fa {{social.class_f}}" *ngFor="let social of rrss">
          <a href="{{social.url}}" title="{{social.name}}"></a>
        </li>
      </ul>
    </div>
  </div>
