<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <app-logotype></app-logotype>
      </a>
    </div>

    <div class="navbar-menu-wrapper">
      <svg version="1.1" id="navbar-menu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 1059 157" xml:space="preserve">
        <g id="botton-menu-opened" style="display: none">
          <path fill="#fdfbfa" d="M1011.1,70.6L1011.1,70.6c-4,0.4-7.8,1.2-11.3,2.6L930.5,3.1L4,3v32.5l915.3-0.1L977,93.9
        c-1.8,3.8-3.1,8-3.6,12.3v0.1c0,0.3,3.6-12.4,16.1-23.1C1000.4,73.8,1011.7,70.6,1011.1,70.6z"/>
          <path fill="#fdfbfa" d="M1014.8,152.9c-22.9,0-41.5-20-41.5-42.4s18.8-40.2,41.7-40.2c22.9,0,40.9,17.6,40.9,40
        C1056,132.6,1037.7,152.9,1014.8,152.9"/>
          <path fill="#006dab" d="M1031,129c9.3-9.4,9.3-24.7,0-34.2c-9.3-9.4-24.3-9.4-33.6,0s-9.3,24.7,0,34.2
        C1006.6,138.4,1021.7,138.4,1031,129z"/>
          <path fill="#fdfbfa" d="M1027.2,113.7c1.1,0,2-0.9,2-2s-0.9-2-2-2h-12.4v-4h12.4c1.1,0,2-0.9,2-2s-0.9-2-2-2h-25c-1.1,0-2,0.9-2,2
        s0.9,2,2,2h12.4v4h-12.4c-1.1,0-2,0.9-2,2s0.9,2,2,2h12.4v4h-12.4c-1.1,0-2,0.9-2,2s0.9,2,2,2h25c1.1,0,2-0.9,2-2s-0.9-2-2-2h-12.4
        v-4H1027.2z"/>
        </g>
        <g id="botton-menu-closed" style="display: none">
          <path fill="#fdfbfa" d="M1011.1,70.6L1011.1,70.6c-4,0.4-7.8,1.2-11.3,2.6l-4.8,2.7l-8.3,5.9l-2.8,2.5l-3.6,5l-3.4,4.7
        c-1.8,3.8-3.1,8-3.6,12.3v0.1c0,0.3,3.6-12.4,16.1-23.1C1000.4,73.8,1011.7,70.6,1011.1,70.6z"/>
          <path fill="#fdfbfa" d="M1014.8,152.9c-22.9,0-41.5-20-41.5-42.4s18.8-40.2,41.7-40.2c22.9,0,40.9,17.6,40.9,40
        C1056,132.6,1037.7,152.9,1014.8,152.9"/>
          <path fill="#006dab" d="M1031,129c9.3-9.4,9.3-24.7,0-34.2c-9.3-9.4-24.3-9.4-33.6,0s-9.3,24.7,0,34.2
        C1006.6,138.4,1021.7,138.4,1031,129z"/>
          <path fill="#fdfbfa" d="M1027.2,113.7c1.1,0,2-0.9,2-2s-0.9-2-2-2h-12.4v-4h12.4c1.1,0,2-0.9,2-2s-0.9-2-2-2h-25c-1.1,0-2,0.9-2,2
        s0.9,2,2,2h12.4v4h-12.4c-1.1,0-2,0.9-2,2s0.9,2,2,2h12.4v4h-12.4c-1.1,0-2,0.9-2,2s0.9,2,2,2h25c1.1,0,2-0.9,2-2s-0.9-2-2-2h-12.4
        v-4H1027.2z"/>
        </g>
      </svg>



      <ul class="menu-desktop">
        <li class="menu-item" *ngFor="let item of menu">
          <a [routerLink]="[item.state]">{{item.label}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
