@import "../../../sass/variables.scss";

.page-content {
  .cover {
    .call-action {
      background-color: $color-primary;
      max-width: 58%;
      &:after {
        border-color: $color-primary transparent transparent transparent;
      }
      button {
        &.circle {
          border: 10px solid $color-primary;
          background-color: $color-white;
          h1 {
            margin: 16px auto 0px;
            font-size: $font-size-tertiary;
            line-height: $font-size-tertiary;
          }
          h3 {
            font-size: $font-size-primary-lg;
            line-height: $font-size-primary-lg;
          }
        }
      }

      .texto {
        color: $color-white;

      }
      h3 {
        margin-top: 10px;
        font-family: $font-primary !important;
        font-size: $font-size-secondary;
      }
    }
  }

  .events-block {
    padding: 60px 0px 48px;
    .cont {
      position: relative;
    }
    .event {
      position: relative;
      height: 120px;
      margin-top: 15px;

      .call-action {
        width: calc(33.333% + 50px);
        height: 120px;
        bottom: 1px;
        left: 60px;
        &:after {
          content: unset;
        }
        .after {
          content: ' ';
          position: absolute;
          top: 0px;
          width: 0;
          height: 0;
          border-style: solid;
          border-color: $color-white transparent transparent transparent;
          border-width: 120px 120px 0 0;
          right: -120px;
        }

        .data {
          position: relative;
          h3 {
            margin-right: -60px;
            margin-top: 4px;
            font-size: $font-size-secondary;
            font-weight: bold;
            line-height: $font-size-tertiary;
            height: 67px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          h4 {
            font-size: $font-size-septenary;
          }
        }

        .circle {
          width: 120px;
          height: 120px;
          left: -60px;
        }
      }
      .img-wrapper {
        position: absolute;
        left: calc(44% + 70px);
        height: 120px;
        img {
          max-width: unset;
          width: auto;
          height: 100%;
          clip-path: polygon(120px 0, 100% 0, 100% 100%, 0 100%);
          @media(max-width: 431px) {
            display: none;
          }
        }
      }
    }

    &.upcoming {
      background-color: $color-primary;
      .event {
        .call-action {
          .circle {
            border-color: $color-white !important;
            h1, h2, h3, h4, h5 {
              color: $color-quaternary;
            }
          }
          .data {
            h1, h2, h3, h4, h5 {
              color: $color-black;
            }
            h1 {
              margin-top: 10px;
              margin-bottom: 0px;
            }
          }
        }

        &:hover {
          .call-action {
            background-color: $color-secondary;
            .after {
              border-color: $color-secondary transparent transparent transparent;
            }
            .circle {
              border-color: $color-secondary !important;
              background-color: $color-white;
              h1, h2, h3, h4, h5 {
                color: $color-secondary;
              }
            }
            .data {
              h1, h2, h3, h4, h5 {
                color: $color-white;
              }
            }
          }
        }
      }
    }

    &.past {
      .event {
        .call-action {
          background-color: $color-primary;
          .after {
            border-color: $color-primary transparent transparent transparent;
          }
          .circle {
            border-color: $color-primary !important;
            background-color: $color-white;
            h1, h2, h3, h4, h5 {
              color: $color-secondary;
            }
          }
          .data {
            h1, h2, h3, h4, h5 {
              color: $color-white;
            }
          }
        }

        &:hover {
          .call-action {
            background-color: $color-secondary;
            .after {
              border-color: $color-secondary transparent transparent transparent;
            }
            .circle {
              border-color: $color-secondary !important;
              background-color: $color-white;
              h1, h2, h3, h4, h5 {
                color: $color-secondary;
              }
            }
            .data {
              h1, h2, h3, h4, h5 {
                color: $color-white;
              }
            }
          }
        }
      }
    }
  }

  .event {
    .title {
      font-family: $font-main;
      font-size: 42px;
      font-weight: bold;
      margin: 34px auto 12px;
      color: $color-senary;
    }
  }
}
