<section class="page-content" style="min-height: calc(100vh - 200px);">
  <div class="cover" *ngIf="nextevent!=null && nextevent">
    <div class="banner" *ngIf="nextevent.banner!=undefined"
         [ngStyle]="{'background-image': 'url(' + IMAGE_URL + nextevent.banner + ')'}">
      <div class="container">
        <div class="call-action" (click)="goEvent(nextevent)">
          <button class="circle">
            <h1>{{nextevent.date_ini | date:'d'}}</h1>
            <h3>{{toMonth(nextevent.date_ini)}}</h3>
          </button>
          <div class="data">
            <h3 class="texto">{{nextevent.name}}</h3>
            <h4 class="texto">{{toDate(nextevent)}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="events-block upcoming" *ngIf="nextevent!=null">

    <div class=" container">
      <div class="header-section">
        <h3>Próximos eventos</h3>
      </div>

      <div class="row cont">
        <div class="event col-xs-12 col-sm-12 col-md-12 col-lg-6 col-lx-5 offset-lg-1"
             *ngFor="let event of followingevents">
          <div class="call-action" (click)="goEvent(event)">
            <button class="circle">
              <h1>{{event.date_ini | date:'d'}}</h1>
              <h3>{{toMonth(event.date_ini)}}</h3>
            </button>
            <div class="after"></div>
            <div class="data">
              <h3 class="texto">{{event.name}}</h3>
              <h4 class="texto">{{toDate(event)}}</h4>
            </div>
          </div>
          <div class="img-wrapper">
            <img class="img-fluid" src="{{IMAGE_URL}}{{event.banner}}"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="events-block past" *ngIf="nextevent!=null">
    <div class=" container">
      <div class="header-section">
        <h3>Eventos pasados</h3>
      </div>

      <div class="row cont">
        <div class="event col-xs-12 col-sm-12 col-md-12 col-lg-6 col-lx-5 offset-lg-1"
             *ngFor="let event of pastevents">
          <div class="call-action" (click)="goEvent(event)">
            <button class="circle">
              <h1>{{event.date_ini | date:'d'}}</h1>
              <h3>{{toMonth(event.date_ini)}}</h3>
            </button>
            <div class="after"></div>
            <div class="data">
              <h3 class="texto">{{event.name}}</h3>
              <h4 class="texto">{{toDate(event)}}</h4>
            </div>
          </div>
          <div class="img-wrapper">
            <img class="img-fluid" src="{{IMAGE_URL}}{{event.banner}}"/>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="total>pastevents.length">
        <button type="button" class="btn btn-light"
                style="display: inline-block; margin: 10px auto;" (click)="moreEvents()">ver más
        </button>
      </div>
    </div>
  </div>

  <!-- select event -->

  <div class="event" *ngIf="eventItem!=null">
    <div class="cover">
      <div class="banner" *ngIf="eventItem.banner!=undefined"
           [ngStyle]="{'height':'60vh', 'background-image': 'url(' + IMAGE_URL + eventItem.banner + ')'}">
      </div>
    </div>
    <div class="container">
      <div class="row">
        <h1 class="title col-xs-12 col-sm-12 col-md-10 col-lg-8 text-center">{{eventItem.name}}</h1>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
          <div class="row">
            <div class="calendar-wrapper col-md-8 pull-left">
              <div class="calendar-icon"></div>
              <div class="calendar-data">
                <p class="city">{{eventItem.city}}</p>
                <p class="date-range" style="margin-bottom: 0rem;">{{eventItem.address}}</p>
                <p class="date-range">{{ getRangeDate(eventItem) }}</p>
              </div>
            </div>

            <div class="calendar-wrapper col-md-4 pull-right">
            <div class="time-countdown blue">
              <div class="number">{{eventItem.capacity}}</div>
              <p class="text">capacidad</p>
            </div>
          </div>
          </div>
          <div class="row">
            <p>Con: {{eventItem.person.firstname}} {{eventItem.person.lastname}}</p>
            <div [innerHTML]="eventItem.information"></div>
          </div>
        </div>
        <div class="hidden-xs col-sm-4 col-md-4 col-lg-3"></div>
      </div>
    </div>
  </div>
</section>
