@import "../../../sass/variables.scss";

.page-content {
  .page-title {
    padding-top: 10%;
    text-align: center;
    color: $color-white;
    text-shadow: 4px 4px 4px $color-black;
  }
  .cover {
    position: relative;
    .banner {
      height: 70vh;

      iframe {
        position: absolute;
        bottom: 0px;
        left: 0px;
      }
    }

    .call-action {
      padding-top: 16px;
      h1 {
        font-size: 24px;
      }
    }
  }
  .time-info {
    height: 148px;
    border-bottom: 2px solid $color-quinary;
    padding-top: 40px;
    margin-bottom: 30px;

    &.coursepast {
      > .container {
        width: 780px;
        .calendar-wrapper {
          width: 50%;
          .time-countdown {
            width: calc(50% - 30px);
            &.red {
              .number {
                background-color: $color-secondary;
              }
            }
            &.blue {
              .number {
                background-color: $color-primary;
              }
            }
          }
        }
      }
    }
  }

  .main-content {
    margin-bottom: 60px;
  }

  .exabutton {
    border: 0;
    line-height: normal;
    overflow: visible;
    padding: 0px;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
    .text {
      padding: 19px 0px;
      background-color: $color-primary;
      color: $color-white;
    }
    .triangle {
      &:before {
        border-color: transparent transparent transparent $color-quinary;
      }
      &:after {
        border-color: transparent transparent transparent $color-primary;
      }

      &.left {
        &:before {
          border-color: transparent $color-quinary transparent transparent;
        }
        &:after {
          border-color: transparent $color-primary transparent transparent;
        }
      }
    }
    &:hover {
      .text {
        background-color: $color-secondary;
        transition: $transition_data;
      }
      .triangle {
        &:after {
          border-color: transparent transparent transparent $color-secondary;
          transition: $transition_data;
        }
        &.left {
          &:after {
            border-color: transparent $color-secondary transparent transparent;
            transition: $transition_data;
          }
        }
      }
    }
  }

  .course-objetives {
    font-family: $font-secondary;
    font-style: italic;
  }

  .course-desc {
    margin-top: 15px;
  }


  .time-countdown {
    &.zero {
      .number {
        background-color: $color-primary;
      }
    }
  }
}
