<section class="page-content" *ngIf="data!=undefined">
  <div class="cover">
    <div class="banner"
         [ngStyle]="data.design.youtube_video==null || data.design.youtube_video=='' &&
         {'background-image': 'url(' + IMAGE_URL + data.design.banner_big + ')'}">
      <iframe width="100%" height="100%" frameborder="0" allowfullscreen
              *ngIf="data.design.youtube_video!=null && data.design.youtube_video!=''"
              [src]="data.design.youtube_video | youtubeSafeUrl">
      </iframe>
      <div class="container">
        <h1 class="page-title">{{data.course.title}}</h1>
        <div class="call-action">
          <button class="circle" (click)="openModal()">
            {{isPast===false? "Contactanos" : "Inscríbete"}}
          </button>
          <div class="data">
            <h3 class="texto">Costo</h3>
            <h1 class="texto" *ngIf="data.price>0">{{data.coin}} {{data.price}}</h1>
            <h1 class="texto" *ngIf="data.price==0">Gratis</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="time-info" [ngClass]="{'coursepast': isPast===false}">
    <div class="container">
      <div class="row">
        <div class="calendar-wrapper col-md-5">
          <div class="calendar-icon"></div>
          <div class="calendar-data">
            <p class="city">{{data.city}}</p>
            <p class="date-range">{{data.date_range}}</p>
          </div>
        </div>
        <div class="calendar-wrapper col-md-4" *ngIf="isPast">
          <div class="time-countdown" [ngClass]="{'zero': countDouwn[3]=='00'}">
            <div class="number">{{countDouwn[3]}}</div>
            <p class="text">días</p>
          </div>
          <div class="time-countdown" [ngClass]="{'zero': countDouwn[3]=='00' && countDouwn[2]=='00'}">
            <div class="number">{{countDouwn[2]}}</div>
            <p class="text">horas</p>
          </div>
          <div class="time-countdown"
               [ngClass]="{'zero': countDouwn[3]=='00' && countDouwn[2]=='00' && countDouwn[1]=='00'}">
            <div class="number">{{countDouwn[1]}}</div>
            <p class="text">minutos</p>
          </div>
          <div class="time-countdown">
            <div class="number">{{countDouwn[0]}}</div>
            <p class="text">segundos</p>
          </div>
        </div>
        <div class="calendar-wrapper col-md-3" *ngIf="isPast">
          <button class="exabutton" (click)="openModal()">
            <span class="triangle left"></span>
            <div class="text">Inscríbete</div>
            <span class="triangle"></span>
          </button>
        </div>
        <div class="calendar-wrapper" *ngIf="isPast===false">
          <div class="time-countdown red">
            <div class="number">{{inscribed}}</div>
            <p class="text">inscritos</p>
          </div>
          <div class="time-countdown blue">
            <div class="number">{{academicHours}}</div>
            <p class="text">horas académicas</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h4>Objetivos:</h4>
          <h5 class="course-objetives" [innerHtml]="data.course.objectives"></h5>
          <div><h4 style="display: inline-block">Dirigido a: </h4> <strong> {{data.course.directed_to}}</strong></div>
          <div class="course-desc" [innerHtml]="data.course.description"></div>
          <div class="offering-desc" [innerHtml]="data.description"></div>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>
</section>
<app-autotronix-modal [componentName]="isPast===false? 'contact' : 'enroll'"></app-autotronix-modal>
