<form novalidate (ngSubmit)="onSubmit()" [formGroup]="orderForm">
  <h4>Realizando un pedido</h4>
  <div class="alert alert-success" role="alert" *ngIf="successMsg.length>0">{{successMsg}}</div>
  <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length>0">{{errorMsg}}</div>
  <div class="form-group">
    <input type="text" class="form-control" #firstname formControlName="firstname" required
           aria-describedby="firstnameHelp" placeholder="Nombres">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" #lastname formControlName="lastname" required
           aria-describedby="lastnameHelp" placeholder="Apellidos">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" #ci formControlName="ci" required
           aria-describedby="ciHelp" placeholder="Cédula de identidad">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" #email formControlName="email" required
           aria-describedby="emailHelp" placeholder="Correo electrónico">
  </div>
  <div class="form-group">
    <input type="number" class="form-control" #phone formControlName="phone" required
           aria-describedby="phoneHelp" placeholder="Teléfono (59177700000)">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" #city formControlName="city" required
           aria-describedby="cityHelp" placeholder="Ciudad">
  </div>
  <div class="form-group">
    <textarea class="form-control" #address formControlName="address" required
              aria-describedby="addressHelp" placeholder="Dirección"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
  <!--re-captcha (resolved)="resolved($event)"
              #captchaRef="reCaptcha"
              size="invisible"
              required
              siteKey="6LfmGz8UAAAAAJjsFOduEsp-xg_ROWFzeSHUBT4F"></re-captcha-->
</form>
