@import "../../../sass/variables.scss";

.autotron-modal {
  display: none;
  transition: opacity 10s ease-out;
  opacity: 0;
  &.is-open {
    position: fixed;
    display: block;
    opacity: 1;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color-senary, .76);
    z-index: 9999;
    transition: opacity 10s ease-out;
  }

  .autotron-modal-content {
    margin: 15px;
    width: calc(100vw - 45px);
    height: calc(100vh - 45px);
    background-color: $color-senary;
    padding: 30px;
    position: relative;

    .close {
      position: absolute;
      right: -4px;
      top: -18px;
      background: $color-secondary;
      padding: 0px 6px 3px;
      border-radius: 50%;
      opacity: 1;
      color: $color-white;
      text-shadow: 0 1px 0 $color-quinary;
      cursor: pointer;
    }

    &:before {
      content: '';
      position: absolute;
      background-color: $color-primary;
      width: 100%;
      height: 10px;
      top: -10px;
      left: 0px;
    }

    @media(min-width: $break-sm) {
      margin: 4% auto;
      width: 50vh;
      height: auto;
    }
  }
}

.no-body {
  min-height: 2vh;
}

body.modal-open {
  overflow: hidden;
}
