<div class="autotron-modal" [ngClass]="isOpen? 'is-open' : ''">
  <div class="autotron-modal-content">
    <app-contact *ngIf="componentName=='contact'"></app-contact>
    <app-enroll *ngIf="componentName=='enroll'"></app-enroll>
    <app-order *ngIf="componentName=='order'"></app-order>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div class="no-body"></div>
