<form novalidate (ngSubmit)="onSubmit()" [formGroup]="enrollForm">
  <h4>Inscríbete</h4>
  <div class="alert alert-success" role="alert" *ngIf="successMsg.length>0">{{successMsg}}</div>
  <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length>0">{{errorMsg}}</div>
  <div class="form-group">
    <input type="text" class="form-control" #firstname formControlName="firstname" required
           aria-describedby="emailHelp" placeholder="Nombre">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" #lastname formControlName="lastname" required
           aria-describedby="emailHelp" placeholder="Apellido">
  </div>
  <div class="btn-group col-sm-12">
    <label class="radio-inline col-sm-4 col-md-7">
      <input type="radio" value="1" formControlName="sex" name="sex"> Hombre
    </label>
    <label class="radio-inline col-sm-4 col-md-7">
      <input type="radio" value="0" formControlName="sex" name="sex"> Mujer
    </label>
  </div>
  <div class="form-group">
    <input type="email" class="form-control" #email formControlName="email" required
           aria-describedby="emailHelp" placeholder="Correo electrónico">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" #country formControlName="country" required
           aria-describedby="countryHelp" placeholder="País">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" #city formControlName="city" required
           aria-describedby="cityHelp" placeholder="Ciudad">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" #address formControlName="address" required
           aria-describedby="addressHelp" placeholder="Dirección">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
  <!--re-captcha (resolved)="resolved($event)"
              #captchaRef="reCaptcha"
              size="invisible"
              required
              siteKey="6LfmGz8UAAAAAJjsFOduEsp-xg_ROWFzeSHUBT4F"></re-captcha-->
</form>
