@import "../../../sass/variables.scss";

h4 {
  color: $color-white;
  font-family: $font-secondary;
  font-size: $font-size-tertiary;
}

input {
  border: 2px solid $color-primary;
}
label {
  color: $color-white;
}
