@import "../../../../sass/variables.scss";

.course-recents {
  min-height: 64vh;
  .carousel {
    width: 100%;
    .course-recent {
      display: inline-block;
      margin: 0px 15px;
      border: 1px solid $color-quinary;
      .home-img-recents {
        width: 100%;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center;
        padding-bottom: 60%;
      }
      .info {
        text-align: center;
        background-color: $color-primary;
        color: $color-white;
        height: 0px;
        overflow: hidden;
        .name {
          font-family: $font-primary;
          margin: 18px 4px 6px;
        }
        .date {
          margin: 0px;
        }
        .location {
          font-size: $font-size-septenary;
          margin: 0px 0px 10px;
        }
      }
      .date-wrapper {
        text-align: center;
        overflow: hidden;
        .date-data {
          position: relative;
          width: 60%;
          display: inline-block;
          border-top: 1px solid $color-quinary;
          border-bottom: 1px solid $color-quinary;
          margin: 20px 0px;
        }

        .triangle {
          position: absolute;
          left: 100%;
          &:before,
          &:after {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
          }
          &:before {
            content: '';
            top: -1px;
            border-color: transparent transparent transparent $color-quinary;
            border-width: 13px;
          }
          &:after {
            content: '';
            top: 0px;
            border-color: transparent transparent transparent $color-white;
            border-width: 12px;
          }

          &.left {
            left: -24px;
            &:before {
              left: -2px;
              border-color: transparent $color-quinary transparent transparent;
            }
            &:after {
              border-color: transparent $color-white transparent transparent;
            }
          }
        }
      }
      &:hover {
        .home-img-recents {
          padding-bottom: 75%;
          transition: padding-bottom 1s ease-out;
          cursor: pointer;
        }
        .info {
          height: auto;
        }
        .date-wrapper {
          height: 0px;
        }
      }
    }
  }
}
