<div class="course-recents container">

  <div class="header-section">
    <h3>Próximos cursos</h3>
  </div>

  <div class="row" *ngIf="recents!=undefined">
    <ngx-slick-carousel class="carousel"
              #slickModal="slick-carousel"
              [config]="slideConfig">
      <div ngxSlickItem *ngFor="let course of recents" class="course-recent"
                       [ngClass]="{'open':  false}">
        <div class="home-img-recents" (click)="goCourse(course)"
             [ngStyle]="{'background-image': 'url(' + IMAGE_URL + course.design.banner_small + ')'}"></div>
        <div class="info">
          <p class="name">{{course.course.title}}</p>
          <p class="date">{{course.date_range}}</p>
          <p class="location">{{course.city}} - {{course.country_base.name}}</p>
        </div>
        <div class="date-wrapper">
          <span class="date-data">
            <span class="triangle left"></span>
            {{course.date | date : 'dd MMMM'}}
            <span class="triangle"></span>
          </span>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</div>
