<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<footer id="footer" class="{'home': current_url=='/'}">

  <div class="container" *ngIf="current_url=='/'">
    <app-footer-blocks></app-footer-blocks>
  </div>
  <app-footer class="footer-content"></app-footer>
</footer>
