<section class="page-content">
  <div class="cover">
    <div class="banner"
         [ngStyle]="{'background-image': 'url(/assets/images/accessories_diagnostic.jpg)',
         'background-size': 'cover'}">
      <div class="container">
        <h1 class="page-title"></h1>
      </div>
    </div>
  </div>
  <app-categories-block showHeader="false"></app-categories-block>


  <div class="container-white">
    <div class=" container">
      <div class="row">
        <p *ngIf="description">{{description.content}}</p>
      </div>
    </div>
  </div>


  <div class="container-gris">
    <div class="container">
      <div class="row">
        <div class="row">
        <div class="accesory" *ngFor="let accessory of accessories">
          <div class="first-row">
            <img class="img-fluid" src="{{API_URL}}{{ accessory.image }}" />
            <h5>{{accessory.brand}} {{accessory.model}}</h5>
            <p [innerHTML]="accessory.description"></p>
          </div>
          <div class="second-row">
            <hr>
            <div class="price item-label col-xs-12 col-sm-6 col-md-4">
              {{accessory.coin}}
              <div class="figure"><div>{{accessory.price}}</div></div>
            </div>
            <button *ngIf="accessory.quantity>0" class="exabutton" (click)="openModal(accessory)">
              <span class="triangle left"></span>
              <div class="text">Compra</div>
              <span class="triangle"></span>
            </button>
            <div class="disponible col-xs-6 col-sm-6 col-md-2">
              <p class="d-none d-lg-block">disponible<br />
                <strong>{{accessory.quantity}}</strong></p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-autotronix-modal [componentName]="'order'"></app-autotronix-modal>
