@import "../../../sass/variables.scss";

.cover {
  .banner {
    height: 62vh;
  }
}

.accesory {
  font-family: $font-main;
  background-color: $color-white;
  padding: 25px;
  margin: 15px;
  .first-row, .second-row {
    display: table-row;
  }

  h5 {
    font-family: $font-secondary;
    font-weight: 300;
  }

  hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
  }

  .exabutton {
    margin: 12px 25px 0px;
    width: 96px;
    border: 0;
    line-height: normal;
    overflow: visible;
    padding: 0px;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
    .text {
      padding: 13px 0px;
      background-color: $color-primary;
      color: $color-white;
    }
    .triangle {
      .text {
        font-size: $font-size-primary;
      }
      &:before {
        border-width: 26px;
        border-color: transparent transparent transparent $color-quinary;
      }
      &:after {
        border-width: 25px;
        border-color: transparent transparent transparent $color-primary;
      }

      &.left {
        left: -50px;
        &:before {
          border-width: 25px;
          border-color: transparent $color-quinary transparent transparent;
        }
        &:after {
          border-width: 25px;
          border-color: transparent $color-primary transparent transparent;
        }
      }
    }
    &:hover {
      .text {
        background-color: $color-secondary;
        transition: $transition_data;
      }
      .triangle {
        &:after {
          border-color: transparent transparent transparent $color-secondary;
          transition: $transition_data;
        }
        &.left {
          &:after {
            border-color: transparent $color-secondary transparent transparent;
            transition: $transition_data;
          }
        }
      }
    }
  }

  .item-label {
    .figure > div {
      font-size: $font-size-primary;
      padding-top: 20px;
    }
  }

  .price {
    text-align: right;
    padding: 22px 42px 0px 0px;
    margin-right: 42px;
    margin-left: 8%;
    font-weight: 300;
    .figure {
      font-family: $font-secondary;
      font-size: $font-size-secondary;
      font-weight: 500;
    }
  }
  .disponible {
    padding-top: 10px;
    float: right !important;
    text-align: center;
  }

  @media (min-width: $break-sm) {
    width: calc(50% - 30px);
    float: left;
    .second-row {
      &>div {
        float: left;
      }
    }
  }

  @media (min-width: $break-md) {
    .first-row {
      img {
        width: 50%;
        float: left;
        margin-right: 15px;
      }
    }
  }
}
