@import "../../../sass/variables.scss";

body {
  background: red;
}
.categories-block {
  padding: 30px 0px;
  background-color: $color-tertiary;
  .header-section {
    margin-bottom: 30px;
  }

  .accessory {
    .accessory-wrapper {
      background-color: $color-white;
      border: 2px solid $color-quinary;
      .img-wrapper {
        height: 124px;
        display: flex;
        overflow: hidden;
        img {
          margin: auto;
        }
      }
      .name-wrapper {
        padding: 6px;
        height: 52px;
        text-align: center;
        font-family: $font-main;
        font-size: 15px;
        color: $color-quinary;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          margin: 0;
        }
      }

      &:hover, &.selected {
        .name-wrapper {
          background-color: $color-secondary;
          color: $color-white;
        }
      }
    }
  }
}
