<div class="categories-block">

  <div class=" container">
    <div class="header-section" *ngIf="showHeader=='true'">
      <h3>Nuestros accesorios para usted</h3>
    </div>

    <div class="row">
      <div class="accessory col-xs-6 col-sm-4 col-md-3 col-lg-2"
           *ngFor="let category of categories">
        <div class="accessory-wrapper" (click)="goAccessoryCategory(category.alias)"
             [ngClass]="{'selected':this.categorySel.id!=undefined && this.categorySel.id==category.id}">
          <div class="img-wrapper">
            <img class="img-fluid" src="{{API_URL}}{{category.image}}"/>
          </div>
          <div class="name-wrapper">
              <span class="align-middle">
                <p>{{category.name}}</p>
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
